<!-- accounts/templates/accounts/employee_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Employee | NCEC{% endblock %}
{% block page_title %}Create New Employee{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-user-plus mr-2"></i>
                    Employee Information
                </h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.employee_id|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.phone_number|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.date_of_birth|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.hire_date|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.type|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.vacation_balance|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>

                    <div class="text-right">
                        <a href="{% url 'hr:admin-vacation-list' %}" class="btn btn-secondary">
                            <i class="fas fa-times mr-1"></i> Cancel
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save mr-1"></i> Create Employee
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-info-circle mr-2"></i>
                    Guidelines
                </h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fas fa-check text-success mr-2"></i>
                        Use a strong password
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check text-success mr-2"></i>
                        Ensure email is valid
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check text-success mr-2"></i>
                        Employee ID must be unique
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-check text-success mr-2"></i>
                        Set appropriate user type
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}